@model Buildy.Models.Students.StudentVM

@{
    ViewData["Title"] = "Student Details";
}

@section Scripts {
    <script>
        $(function () {
            $('#studetnExamPapers, #studentCourses').DataTable();
        })
    </script>
}

<div class="container my-5">
    <div>
        <div>
            <span class="font-size-20 font-weight-bold">Student: @Model.Fullname</span>
            <span>(Date of Birth: @Model.DateOfBirth.ToShortDateString())</span>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">
                <h4>Courses</h4>
                <table id="studentCourses" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var exam in Model.Courses)
                        {
                            <tr>
                                <td>@exam.Id</td>
                                <td>@exam.Name</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4>Exam Papers</h4>
                <table id="studetnExamPapers" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var exam in Model.ExamPapers)
                        {
                            <tr>
                                <td>@exam.Id</td>
                                <td>@exam.Name</td>
                                <td>@exam.Grade</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>