@model IEnumerable<Buildy.Models.Students.StudentVM>

@{
    ViewData["Title"] = "Students";
}

@section Scripts {
    <script>
        $(function () {
            $('#studentsTable').DataTable();
        })
    </script>
}

<div class="container my-5">
    <h1>Students</h1>

    <p>
        <a asp-action="Create">Create New Student</a>
    </p>
    <table id="studentsTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="AddCourse" asp-route-studentId="@item.Id">Add Course</a> |
                        <a asp-action="AddExamPaper" asp-route-studentId="@item.Id">Add Exam Paper</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>