@model DVLD.Models.Driver.DriverVM

@{
    ViewData["Title"] = "Driver Details";
}

<h1>Driver Details</h1>

<div>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
