@model MB.T.DVLD.Web.Models.Car.CarVM

@{
    ViewData["Title"] = "Car Details";
}

<h1>Car Details</h1>

<div>
    <div class="row">
        <div class="col-sm-6 font-weight-bold">
            @Html.DisplayNameFor(model => model.Manu)
        </div>
        <div class="col-sm-6">
            @Html.DisplayFor(model => model.Manu)
        </div>
        <div class="col-sm-6 font-weight-bold">
            @Html.DisplayNameFor(model => model.Model)
        </div>
        <div class="col-sm-6">
            @Html.DisplayFor(model => model.Model)
        </div>
        <div class="col-sm-6 font-weight-bold">
            @Html.DisplayNameFor(model => model.Color)
        </div>
        <div class="col-sm-6">
            @Html.DisplayFor(model => model.Color)
        </div>
        <div class="col-sm-6 font-weight-bold">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </div>
        <div class="col-sm-6">
            @Html.DisplayFor(model => model.LicensePlate)
        </div>
        <div class="col-sm-6 font-weight-bold">
            @Html.DisplayNameFor(model => model.Driver.FullName)
        </div>
        <div class="col-sm-6">
            @Html.DisplayFor(model => model.Driver.FullName)
        </div>
        @*<div class="col-sm-6 font-weight-bold">
            @Html.DisplayNameFor(model => model.Insurance.CompanyName)
        </div>
        <div class="col-sm-6">
            @Html.DisplayFor(model => model.Insurance.CompanyName)
        </div>
        <div class="col-sm-6 font-weight-bold">
            @Html.DisplayNameFor(model => model.Insurance.InsuranceType)
        </div>
        <div class="col-sm-6">
            @Html.DisplayFor(model => model.Insurance.InsuranceType)
        </div>*@
    </div>
</div>

    <div class="form-group float-right">
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
        <a class="btn btn-primary ml-1" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>

