@model IEnumerable<MB.T.DVLD.Web.Models.Car.CarVM>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<p>
    <a asp-action="Create">Create a new Car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                Driver Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => car.Manu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Insurance.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Insurance.InsuranceType)
            </td>
            <td>
                @if (car.Driver == null)
                {
                    <span class="text-secondary font-weight-bold">
                        No Owner
                    </span>
                }
                else
                {

                    <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#driverModal_@car.Id">
                        @Html.DisplayFor(modelItem => car.Driver.FullName)
                    </button>

                    <!-- Driver Modal -->
                    <div class="modal fade" id="driverModal_@car.Id" tabindex="-1" role="dialog" aria-labelledby="driverModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="driverModalLabel_@car.Id">Driver</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            Name
                                        </div>
                                        <div class="col-md-7">
                                            @car.Driver.FullName
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            Gender
                                        </div>
                                        <div class="col-md-7">
                                            @car.Driver.Gender
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            Date of birth
                                        </div>
                                        <div class="col-md-7">
                                            @car.Driver.DateOfBirth.ToString("dddd-MMMM-yyyy")
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            License Number
                                        </div>
                                        <div class="col-md-7">
                                            @car.Driver.LicenseNumber
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            license Type
                                        </div>
                                        <div class="col-md-7">
                                            @car.Driver.LicenseType
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </td>
            <td>
                <a asp-action="Details" asp-route-id="@car.Id">Details</a>

                @if (SignInManager.IsSignedIn(User))
                {
                    <span>|</span>
                    <a asp-action="Edit" asp-route-id="@car.Id">Edit</a>
                    <span>|</span>
                    <button type="button" class="btn btn-link p-0 mb-1" data-toggle="modal" data-target="#deleteModal_@car.Id">
                        Delete
                    </button>}

                <!-- Delete Car Modal -->
                <div class="modal fade" id="deleteModal_@car.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="deleteModalLabel_@car.Id">Delete Car?</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <h4 class="text-danger">Are you sure you want to delete ?</h4>
                                <div>
                                    <dl class="row">
                                        <dt class="col-sm-4 my-2">Car Manu :</dt>
                                        <dd class="col-sm-8 my-2 text-danger">@car.Manu</dd>
                                        <dt class="col-sm-4 my-2">Car Model :</dt>
                                        <dd class="col-sm-8 my-2 text-danger">@car.Model</dd>
                                        <dt class="col-sm-4 my-2">License Plate :</dt>
                                        <dd class="col-sm-8 my-2 text-danger">@car.LicensePlate</dd>
                                    </dl>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete">
                                    <input type="hidden" value="@car.Id" name="id" />
                                    <input type="submit" value="Delete" class="btn btn-danger mr-2" />
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        }
    </tbody>
</table>