@model IEnumerable<DVLD.Data.Entities.Car>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                Driver Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.Manu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Color)
                </td>
                <td>
                    @if (car.Driver == null)
                    {
                        <span class="text-secondary font-weight-bold">
                            No Owner
                        </span>
                    }
                    else
                    {
                        <span class="text-success font-weight-bold">
                            @Html.DisplayFor(modelItem => car.Driver.FullName)
                        </span>
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@car.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@car.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@car.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
