@model IEnumerable<MB.T.DVLD.Web.Models.Departments.DepartmentVM>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<p>
    <a asp-action="Create">Create New Department</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>

                    <a class="fas fa-info-circle text-secondary" asp-action="Details" asp-route-id="@item.Id"></a> |
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="fas fa-pencil-alt " asp-action="Edit" asp-route-id="@item.Id"></a> <span>|</span>
                        <a class="fas fa-trash text-danger" asp-action="Delete" asp-route-id="@item.Id"></a>
                        
                    }
                </td>
            </tr>
}
    </tbody>
</table>
