@model IEnumerable<MB.T.DVLD.Web.Models.Insurances.InsuranceVM>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Insurances</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceType)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var insurance in Model)
        {
            <tr>
                <td>
                    @insurance.ExpiryDate.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => insurance.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => insurance.InsuranceType)
                </td>
                <td>

                    <a class="fas fa-info-circle mr-1"  data-toggle="tooltip" title="Edit" asp-action="Details" asp-route-id="@insurance.Id"></a>

                    @if (SignInManager.IsSignedIn(User))
                    {

                        <a class="fas fa-pencil-alt mr-1"  data-toggle="tooltip" title="Edit" asp-action="Edit" asp-route-id="@insurance.Id"></a>

                        <span data-toggle="tooltip" title="Delete">
                            <i class="fas fa-trash mr-1 pointer" data-toggle="modal" data-target="#deleteModal_@insurance.Id"></i>
                        </span>
                    }

                    <!-- Driver Modal -->
                    <div class="modal fade" id="deleteModal_@insurance.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="deleteModalLabel_@insurance.Id">Delete Insurance?</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <h4 class="text-danger">Are you sure you want to delete ?</h4>
                                    <div>
                                        <dl class="row">
                                            <dt class="col-sm-6 my-2">Company Name :</dt>
                                            <dd class="col-sm-6 my-2 text-danger">@insurance.CompanyName</dd>
                                            <dt class="col-sm-6 my-2">Expiry Date :</dt>
                                            <dd class="col-sm-6 my-2 text-danger">@insurance.ExpiryDate</dd>
                                            <dt class="col-sm-6 my-2">Insurance Type :</dt>
                                            <dd class="col-sm-6 my-2 text-danger">@insurance.InsuranceType</dd>
                                        </dl>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <form asp-action="Delete">
                                        <input type="hidden" value="@insurance.Id" name="id" />
                                        <button type="button" class="btn btn-secondary " data-dismiss="modal">Cancel</button>
                                        <input type="submit" value="Delete" class="btn btn-danger mr-1" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
